*,
*::after,
*::before{
  margin: 0;
  box-sizing: inherit;
}
html {
     font-size: 62.5%;  /* 1rem = 10px. */
    backface-visibility: hidden;

}
body{
    /* font-family: "Lato", sans-serif;
    box-sizing: border-box;
    background-image: linear-gradient(to right, 
    rgba(60, 154, 231, 0.233), rgba(188, 188, 188, 0.279)),
    url(./assets/main.jpg);
    background-size: cover;
    background-position: top; */
}